/*
** all page top head
*/
.page-head {
  border-bottom: 1px solid #eee;
}

.head-nav {
  vertical-align: center;
  text-align: center;
}

.nav-active {
  border-bottom: 2px solid #3385FF;
}

@media (max-width: 992px) {
  .nav-active {
    border-bottom: none;
    font-weight: 500;
  }
}

.nav-active .nav-link {
  font-size:1rem;
  color: #3385FF !important;
}

@media (min-width: 992px) {
  .media-lg-Logout {
    display: none;
  }
}

.familyname {
  color: #fff;
  background-color: #00BFA5;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  display: none;
}

.fDisplay {
  display: inline-block !important;
}

@media (max-width: 992px) {
  .h-nav {
    display: none;
  }
}

.head-more-icon {
  height: 28px;
  width: 28px;
  margin-left: 1rem;
}


/*
 dashboard
*/

.dashboard-product {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 414px) {
  .dashboard-product {
    font-size: 1.1rem;
  }
}

.dashboard-username {
  margin-right: 1rem;
}

@media (max-width: 576px) {
  .dashboard-username {
    display: none;
  }
}

/*
  dashboard-msg
*/
.board-view {
  margin:1.3rem 0;
  text-align: center;
}

.v-num {
  font-size:1.8rem;
  color: #000000 !important;
}

.v-desc {
  color:#616161;
  font-size:0.97rem;
  text-decoration: none;
}


.F4511E{
  background-color:#F4511E;
}

.FF6D00 {
  background-color:#FF6D00;
}

.FFA000 {
  background-color:#FFA000;
}

.FFA726 {
  background-color:#FFA726;
}

.dashboard-nav {
  height: 8rem;
  border:1px solid #eee;
}

.dashboard-nav h5 {
  line-height: 8rem;
  text-align: center;
  color: #fff;
  font-weight: 300 !important;
}

.dashboard-nav h5:hover {
  font-size: 1.5rem;
}

.n-link {
  text-decoration: none !important;
}