
/*
** 本页面为module相关的CSS
*/

.add_m_a {
	color: #2962FF;
	font-size:0.9rem;
	font-weight: 300;
	margin-top:2rem;
}

.add_m_b {
	color: #2962FF;
	font-size:0.9rem;
	font-weight: 300;
	float: right;
}

.module_desc {
	font-weight: 300;
	font-size: 0.9rem;
	color: #757575;
}

.ul_module_a li {
	list-style: none;
	line-height: 1.5rem;
	padding-left: 1rem;
	margin-top:1.3rem;
}

.ul_module_b {
	margin-bottom: 5rem;
}

.ul_module_b li {
	padding-left: 1rem;
	line-height: 4rem;
	border-bottom: 1px solid #f5f5f5;
}

.selected_a_module {
	font-size: 0.95rem;
	color: #1565C0 !important;
	/*background-color: #f5f5f5;*/
	border-left: 5px solid #1565C0;
}

.module_b .form-control {
	border:0 !important;
	border-bottom: 1px solid #BDBDBD !important;
	outline: none !important;
	border-radius: 0 !important;
	box-shadow: none;
}

.m2edit:focus {
	color: #1565C0;
	outline: none;
	border-bottom: 1px solid #1565C0;
}