
/*
** 用户统计相关的css
*/

.p-user-data {
	margin-top:1.5rem;
}

/* 
** 一行一个
*/
.p-u-d-t {
	background-color: #fff;
}

.p-m-title {
	margin:1.5rem 0 -0.3rem 0;
  	padding-left: 0.3rem;
  	font-weight: 300;
}

.p-m-content {
	margin-top:1rem;
	margin-left:0.35rem;
	font-weight: 300;
	color:#424242;
	font-size: 0.85rem;
}

.d-area-top-five {
	margin-top:1.5rem;
}

/*
** 一行多个
*/
.user-module {
	background-color: #fff;
	padding-top:5px;
	height: 450px;
}

.user-module-title {
	margin-top:1rem;
	margin-left:1rem;
  	font-weight: 300;
}

/*
** user sex
*/

.user-sex {
	margin-top:30%;
	text-align: center;
}

.user-sex span {
	margin:0 2rem;
}

.user-sex img {
	height: 80px;
	width: 80px;
}

.user-sex-data {
	margin-top:2rem;
	text-align: center;
}

.user-sex-data span {
	margin:0 1rem;
}

.user-sex-data .lead {
	font-size: 2rem;
}