
/* 移动端 */

@media (min-width: 768px) {
  .mobile-action-bar {
    margin-right: 2rem;
  }
}

@media (max-width: 575.98px) {
  .mobile-action-bar {
    margin-top:1rem !important;
    margin-left:1rem;
  }
}

/*
** 左侧导航
*/
@media (min-width: 1200px) {
  .bd-sidebar {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
  }
}

@media (min-width: 768px) {
  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
  }
}

@media (min-width: 768px) {
  .bd-sidebar {
    border-right: 1px solid rgba(0,0,0,.1);
  }
}

.bd-sidebar {
  -ms-flex-order: 0;
  order: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

/*
  关于test统计的一些css
*/
.countdata-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.countdata-num {
  font-size: 2.5rem;
  color: #2b2b2b;
}

.countdata-desc {
  font-size: 0.95rem;
  color: #757575;
  font-weight: 300;
}
/*
  中心圆
*/
.center-circle {
  width: 6.6rem;
  height: 6.6rem;
  line-height: 6.6rem;
  background-color: #fff;
  border-radius: 50%;
}

.center-circle-success {
  border:0.5rem solid red;
}

.center-circle > .center-circle-text {
  position: relative;
  text-align: center;
}

/*
  详情页面
*/
.satellite_info {
  font-size: 0.95rem !important;
  color: rgb(112, 112, 112) !important;
}
.satellite_info label {
  line-height: 1.8rem;
  min-width: 5rem;
  text-align: left;
  margin-right: 1rem;
}

/*
** 竖
*/
.standline {
  height: 1.1rem;
  width: 3px;
  background-color: #673AB7;
  float: left;
}

.redline {
  height: 1.1rem;
  width: 3px;
  background-color: #F44336;
  float: left;
}

.successline {
  height: 1.1rem;
  width: 3px;
  background-color: #4CAF50;
  float: left;
}

.grayline {
  height: 1.1rem;
  width: 3px;
  background-color: #B1BEC6;
  float: left;
}

/*
**
**  以下是关于BUG相关页面的CSS
**
*/

/* Add */
.page-pure-title span{
  display: inline-block;
  float: right;
  margin:0.8rem 1rem 1rem 0;
  height: 33px;
  width:33px;
}

.page-pure-title h3{
  display: inline-block;
  font-weight: 300 !important;
  margin:1rem 0;
}

@media (min-width: 576px) {
  .bug-label {
    text-align: right;
  }
}

@media (max-width: 767.99px) {
  .bug-label {
    text-align: left !important;
  }
}

/* index */

@media (max-width: 768px) {
  #TestCaseSearchInput {
    display: none;
  }
  #bug-search {
    display: none;
  }
}

@media (max-width: 414px) {
  #TestCaseTodayCount {
    display: none;
  }
}

.hiddenSearch {
  display: none;
  visibility: hidden;
}

.showSearch {
  display: flex;
  visibility: visible;
}

.searchIcon img {
  height: 24px;
  width: 24px;
}


/* bug_index_about opreate */

.tableOpreate {
  display: none;
}

.showBugOpreate {
  position: absolute;
  display: inline;
  margin-left: -7rem;
  margin-top:-1rem;
  background-color: inherit;
}

.showBugOpreate button {
  outline: none;
  background: inherit;
  border: none;
  display: inline-block;
  z-index: 9999;
}

.showCaseOpreate {
  position: absolute;
  display: inline;
  margin-left: -5rem;
  margin-top:-1rem;
  background-color: inherit;
}

.showCaseOpreate button {
  outline: none;
  background: inherit;
  border: none;
  margin-right: 0.5rem;
  display: inline-block;
  z-index: 9999;
}

/* bug_details */

.details-title {
  font-size:1.35rem;
  font-weight: 400 !important;
  line-height: 2rem;
  color:#333333;
}

@media(max-width: 576px) {
  .bug-details-title {
    font-size:1.2rem;
  }
}

.bug-details-minor-title {
  font-size: 1.1rem;
  font-weight: 500;
  color:#333333;
}

.details-block {
  margin-top:1rem;
  line-height: 2rem;
  font-size: 0.94rem;
  color: #2b2b2b;
  background-color: #FAFAFA;
  padding: 1rem;
  border-radius: 5px;
}

.details-block a {
  color: rgb(41, 115, 183) !important;
}

/*
**
**  以下是关于testcase相关页面的CSS
**
*/

/*
** 页面：测试用例index
*/
#testcase-modules .el-input__inner {
  height: 2.5rem !important;
}

.pg-modules {
  border-right: 1px solid #eee;
}

@media (max-width: 991.99px) {
  .pg-modules {
    display: none;
  }
}

.manage-modules {
  float: right;
  margin-right:2rem;
}

.t-modules-list {
  opacity: 1;
  /* height: 70vh; */
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5rem;
  overflow:-moz-scrollbars-none;
  -ms-overflow-style:none;
}

.t-modules-list::-webkit-scrollbar {
  width:0;
}

.el-active {
  color: #1E88E5;
}

.li-color:hover {
  color: #1E88E5 !important
}
/*
** 增加测试用例页面
*/

.pg-test-edit > textarea {
  background-color: #f5f5f5 !important;
}

.add-icon {
  clear: none;
  position: absolute;
  margin-top:-2rem;
  margin-right:5%;
  right:0px;
  z-index: 1;
}

.test-case-category {
  margin:0;
  padding:0;
}

.test-case-category li {
  display: inline;
  list-style: none;
  margin-right:1rem;
}

.p-content-details {
  margin-top:1.8rem;
  background-color: #fff;
  padding:1rem 1rem 1rem 1.5rem;
  min-height: 5rem;
  border-left: 5px solid #43A047;
}

.p-content-details pre {
  line-height: 1.6rem;
  margin-left:0.2rem;
}

.p-content-tags {
  display: inline;
  background-color: #F3E5F5;
  font-weight: 400;
  font-size: 0.9rem;
  color:#6A1B9A;
  padding:3px;
  border-radius: 10px;
}

.radio-inline {
  padding-left:1rem;
}

.testcase_add label {
  font-size: 1.1rem;
  margin:1rem 0 1rem 0.6rem;
}

.testcase-category {
  background-color: #fff;
  line-height: 1.5rem;
  border: 1px solid #eee;
}

.testcase-priority {
  background-color: #fff;
  line-height: 1.5rem;
  border: 1px solid #eee;
}

@media (min-width: 576px) {
  .testcase-label {
    text-align: right;
  }
}

@media (max-width: 767.99px) {
  .testcase-label {
    text-align: left !important;
  }
}

/* other */

.paragraph-headings {
  margin:0 0 1.5rem 0;
}

/*
** 测试用例详情页面
*/

.t-test-main {
  margin-top:0px;
  border-bottom:1px solid #f5f5f5;
}

.t_test_main_open {
  margin-top:1rem;
  margin-bottom: 1rem;
}

.t-testcase-title {
  position: relative;
  display: block;
  line-height: 3.5rem;
  font-size: 0.97rem;
  background-color: #fff;
  color:#000;
  width: 100%;
  height: 3.5rem;
  padding: 0 5rem 0 3rem;
  margin-top:0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is_show_testcase_title {
  border-bottom: 1px solid #E0E0E0;
}

.t-show-steps {
  position: relative;
  background-color: #fff;
  min-height: 20rem;
}

.t-show-steps h6 {
  margin:0 0 0 40px;
  padding-top:1.5rem;
  color:#8E24AA;
  font-weight: 400;
}

.t-show-steps pre {
  margin:0 0 0 40px;
  padding-top:0.7rem;
}

.img-roll-more {
  position: relative;
  display: inline-block;
  float:right;
  height: 32px;
  width: 32px;
  margin-top:0.7rem;
  transform:rotate(90deg);
  margin-right:-3rem;
}

.roll-operate {
  position: absolute;
  display: inline-block;
  float:right;
  right:5rem;
  visibility: hidden;
  z-index: 100;
  background-color: #fff;
  padding-left: 3rem;
}

.showRollOperate {
  visibility: visible;
}

.roll-operate img {
  position: relative;
  display: inline;
  height: 20px;
  width: 20px;
  margin-left:1rem;
}

.t-testcase-title:hover .roll-operate {
  visibility: visible;
}

.t_p1 {
  color: rgb(245, 108, 108);
  font-weight: 300;
  border: 1px solid #eee;
  padding:3px 10px;
  border-radius: 6px;
  margin-left:-1.5rem;
  margin-right: 1rem;
  background-color: rgba(245, 107, 107, 0.1);
}

.t_p2 {
  color: #1E88E5;
  font-weight: 300;
  border: 1px solid #eee;
  padding:3px 10px;
  border-radius: 6px;
  margin-left:-1.5rem;
  margin-right: 1rem;
  background-color: #E3F2FD;
}

.t_p3 {
  color: #33691E;
  font-weight: 300;
  border: 1px solid #eee;
  padding:3px 10px;
  border-radius: 6px;
  margin-left:-1.5rem;
  margin-right: 1rem;
  background-color: #F1F8E9;
}

.annex {
  position: relative;
}

.annex:hover > img {
  filter:alpha(Opacity=30);
  -moz-opacity:0.3;
  opacity: 0.3;
}

.annex > img {
  height: 148px;
  width:148px;
  border-radius: 5px;
}

.annex_delete {
  visibility: hidden;
  z-index: 100;
  position: relative;
  right: 90px;
}

.h-annex {
  margin-top:-150px;
}

.annex_delete > img {
  height: 28px;
  width:28px;
}
.annex:hover .annex_delete {
  visibility: visible;
}

.img_scale {
  transform: scale(3);
  z-index: 100;
  position: relative;
} 

/*评审*/
.review-area {
  margin-top:2rem;
}

.review-box {
  margin-top:2rem;
  min-height: 5rem;
  padding: 10px 18px 0;
  outline: none; 
  border-top: 1px solid #eee;
  font-size: 0.98rem; 
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}

.review-area > .review-control {
  display: block;
  border: none;
  border-top: 1px solid #eee;
  min-height: 5rem;
  right: 0;
  bottom: 0;
  width: 100%;
  outline: none;
  padding: 0.5rem 1rem 0;
  overflow-y: hidden;
  resize: none;
  line-height: 1.6rem;
  font-size: 0.9rem;
  overflow: hidden;
}

/*
  上传文件
*/
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 5rem;
  margin-bottom: 0;
  border:1px dashed #B2B2B2;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  line-height: 5rem;
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  margin-top:1.35rem;
  text-align: center;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #757575;
  background-color: rgb(255, 255, 255);
  border:none;
}

.custom-file-label:after {
  display: none;
}

.file-upload-icon {
  height: 36px;
  width: 36px;
}


/*
  test
*/

.log-text-time {
  font-size:0.94rem;
}

.log-text-user {
  color: rgb(41, 115, 183);
  font-size:0.94rem;
}

.log-text-remark {
  background: #f5f5f5;
  border-radius: 5px;
  color: #383838;
  padding: 1rem;
  margin-top:0.7rem;
  text-align: left !important;
  white-space: pre-line;
}

.bug-query-selected {
  color: #9C27B0;
}

.bug-query-selected-byme {
  color: #3F51B5;
}
