/*
 login
*/

.btn-login {
    background-color: rgb(66, 133, 244);
    border-color: rgb(66, 133, 244);
    color: rgb(255, 255, 255);
}

.p-user-login-title {
	margin-bottom:2rem;
	font-weight: 300;
}

.p-user-login-main {
	margin-top:10%;
	text-align: center;
}

@media (max-width: 414px) {
	.user-register-title {
		margin-left: 0%;
		margin-right:0%;
	}
}

@media (max-width: 414px) {
	.page-part-line {
		border-right: 1px solid #fff;
	}
}

::-webkit-input-placeholder{
	font-size:1.1rem;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size:1.1rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size:1.1rem;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size:1.1rem;
}

.passwd {
	margin-top:1.3rem;
}

.submit_btn {
	margin-top:2rem;
	margin-left: 20%;
	margin-right:10%;
}

.login-btn {
	margin-top:2rem;
}
