.testsuite-head .modal-title,.select-module {
    display: inline !important;
    line-height: 3rem;    
}

.testsuite-head .select-module {
    float: right !important;
}

.testsuite-head .el-input__inner {
    border: none !important;
    border-radius: 0 !important;
}

.testsuite-head .el-cascader__label {
    font-size:0.92rem !important;
    font-weight: 300;
}

.case_list li {
    font-size:0.9rem;
    line-height: 2.5rem;
}

.case_list li:hover {
    color: #3385FF;
}

.cell-operate {
    margin-top:20%;
}

@media (max-width:576px) {
    .cell-operate {
        margin: 2rem 0;
    }
}

.btn-load {
    font-size:0.86rem;
    color: #fff;
    border-radius: 15px;
    background-color: #3385FF;
    margin:1rem 0;
}

.btn-load-all {
    font-size:0.86rem;
}

.btn-load-all:hover {
    color: #3385FF;
    outline: none;
}

.btn-load-all:focus {
    outline: 0 !important;
}

.loader-pagination span {
    font-size: 0.93rem !important;
}