/*
**
** 移动端: 下面的代码仅仅在移动端生效, PC端无效
**
*/

@media (min-width: 768px) {
  .mobile-action-bar {
    margin-right: 2rem;
  }
}

@media (max-width: 575.98px) {
  .mobile-action-bar {
    margin-top:1rem !important;
    margin-left:1rem;
  }
}

/**
 * 缺陷/测试用例
 *
 * 主页面, 数据列表
 */

/* 测试/缺陷列表页面: 搜索输入框 */
.input-group-text {
  border:1px solid #eee !important;
  background-color: #FFF !important;
}

.search-control {
  height: calc(2.05rem + 2px) !important;
  box-shadow: none !important;
  outline:none !important;
  border:1px solid #eee !important;
  border-left: none !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  padding-left: 0.1rem !important;
}


/* 缺陷/测试用例: 主页面, 列表数据样式 */
.ul-none {
  padding-left: 0 !important;
}

.ul-none-2 .action {
  visibility: hidden;
}

.ul-none-2 li {
  list-style: none;
  border-bottom: 1px solid #eee;
}

.ul-none-2 li:hover .action {
  visibility: visible;
  display: block !important;
}

@media (min-width: 768px) {
  .data-liststyle-satellite span {
    margin-right:3.5rem;
    color: rgb(112, 112, 112);
    font-size: 0.90rem;
  }
}

@media (max-width: 767.98px) {
  .data-liststyle-satellite span {
    margin-right:1rem;
    color: rgb(112, 112, 112);
    font-size: 0.90rem;
  }
}

/* 缺陷/测试用例: 主页面, 统计相关 */
.countdata-num {
  font-size: 2.5rem;
  color: #2b2b2b;
}

.countdata-desc {
  font-size: 0.95rem;
  color: #757575;
  font-weight: 300;
}

/* 缺陷/测试用例: 详情页面 ul css*/
.ul_satellite {
  font-size: 0.95rem !important;
  color: rgb(112, 112, 112) !important;
}

.ul_satellite li {
  list-style: none;
}

.ul_satellite label {
  line-height: 1.8rem;
  min-width: 5rem;
  text-align: left;
  margin-right: 1rem;
}


/* 缺陷/测试: 数据列表页面, 控制操作icon css */
.showDataOpreate {
  position: absolute;
  display: inline;
  margin-left: -6rem;
  margin-top: -1rem;
  float: right !important;
  background-color: inherit;
}

.showDataOpreate span {
  display: inline-block;
  z-index: 9999;
  padding-left: 0.15rem;
}

.showDataOpreate span:last-child {
  padding-right: 0;
}


/* 缺陷: 数据列表页面: 搜索icon */
.searchIcon img {
  height: 24px;
  width: 24px;
}


/* 缺陷/测试用例: 详情页面, 标题样式 */
.details-title {
  font-size:1.35rem;
  font-weight: 400 !important;
  line-height: 2rem;
  color:#333333;
}

@media(max-width: 576px) {
  .bug-details-title {
    font-size:1.2rem;
  }
}

.details-minor-title {
  line-height: 1.1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color:#333333;
}

.standline {
  height: 1.3rem;
  width: 3px;
  background-color: #673AB7;
  float: left;
}

.redline {
  height: 1.3rem;
  width: 3px;
  background-color: #F44336;
  float: left;
}

.successline {
  height: 1.3rem;
  width: 3px;
  background-color: #4CAF50;
  float: left;
}

.grayline {
  height: 1.3rem;
  width: 3px;
  background-color: #B1BEC6;
  float: left;
}

/* 缺陷: 详情页面, 顶部按钮 */
.btn-op {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  border-radius: .25rem;
  background-color: rgb(245, 245, 245);
  border-color: rgb(189, 189, 189);
  color: rgb(51, 51, 51);
  padding: 5px 1rem;
  margin: 0.4rem;
  font-size: 0.95rem;
}


/* 背景块: 用于缺陷/测试用例, 步骤、预期结果、实际结果 */
.details-block {
  margin-top:1rem;
  line-height: 1.85rem;
  font-size: 0.95rem;
  color: #1A1A1A;
  background-color: #FAFAFA;
  padding: 1rem;
  border-radius: 5px;
}

.details-block pre {
  margin: 1.5rem 0;
}

.details-block a {
  color: rgb(41, 115, 183) !important;
}

.details-block ol,ul {
  padding-left: 1.2rem !important;
  margin-bottom: 0 !important;
}

.details-block p, .details-block .ql-syntax {
  margin-bottom: 0 !important;
}

.details-block table {
  margin: 1.5rem 0;
  font-size: 0.9rem !important;
}

.details-block strong {
  color: #005CBF;
}

/* 测试用例: 详情页面, 部分情况下,需要显示表格, 因此不依赖与details-block */


/* 缺陷/测试用例: 附件相关 */
.annex {
  display:inline !important;
  margin-right: -20px;
}

.annex > img {
  border-radius: 5px;
  height: 148px;
  width:148px;
	border: 1px dashed rgb(192, 204, 218) !important;
  box-sizing: border-box;
  vertical-align: top;
}

.annex:hover > img {
  filter:alpha(Opacity=30);
  -moz-opacity:0.3;
  opacity: 0.3;
}

.annex_delete {
  visibility: hidden;
  z-index: 100;
  position: relative;
  right: 90px;
}

.annex:hover .annex_delete {
  visibility: visible;
}


/* 测试用例: 详情页面, 日志相关 */
.log-text-time {
  font-size:0.94rem;
}

.log-text-user {
  color: rgb(41, 115, 183);
  font-size:0.94rem;
}

.log-text-remark {
  background: #f5f5f5;
  border-radius: 5px;
  color: #383838;
  padding: 1rem;
  margin-top:0.7rem;
  text-align: left !important;
  line-height: 1.5rem;
  font-size:0.93rem;
}

.log-text-remark .icon-edit {
  float: right;
  margin-top: -1.5rem;
}

.log-text-remark p {
  margin-bottom: 0;
}


/* 缺陷/测试用例: 增加/编辑页面  */
@media (min-width: 576px) {
  .bug-label {
    text-align: right;
  }
}

@media (max-width: 767.99px) {
  .bug-label {
    text-align: left !important;
  }
}


/* 测试用例: 增加页面 */
.pg-test-edit > textarea {
  background-color: #f5f5f5 !important;
}

@media (min-width: 576px) {
  .testcase-label {
    text-align: right;
  }
}

@media (max-width: 767.99px) {
  .testcase-label {
    text-align: left !important;
  }
}
